<div class="min-h-screen flex flex-row bg-gray-100">
	<div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
		<div class="flex items-center justify-center h-20">
			<h1 class="text-3xl uppercase text-red-600">Logo</h1>
		</div>
		<span class="h-0.5 w-full bg-red-600"></span>
		<ul class="flex flex-col py-4">
			<li>
				<a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800" href="#">
					<span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"></span>
					<span class="text-sm font-medium">Dashboard</span>
				</a>
			</li>
			<li>
				<a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800" href="#">
					<span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"></span>
					<span class="text-sm font-medium">Calender</span>
				</a>
			</li>
			<span class="h-0.5 w-full bg-gray-600"></span>
			<li>
			</li>

		</ul>
	</div>
</div>
<router-outlet></router-outlet>
