
  $bg:#ebf0f7;
  $header:#fbf4f6;
  $text:#2e2e2f;
  $white:#ffffff;
  $light-grey:#c4cad3;
  $tag-1:#ceecfd;
  $tag-1-text:#2e87ba;
  $tag-2:#d6ede2;
  $tag-2-text:#13854e;
  $tag-3:#ceecfd;
  $tag-3-text:#2d86ba;
  $tag-4:#f2dcf5;
  $tag-4-text:#a734ba;
  $purple:#7784ee;





*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  color:$text;
}

@mixin display {
  display:flex;
  align-items:center;
}

h1 {
  font-size:30px;
}
.project {
  padding:2rem;
  width:100%;
  display:inline-block;

  &-info {
    padding:2rem 0;
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
  }
  &-participants {
    @include display;
    @media (max-width:1300px) {
      display:none;
    }
    span,
    &__add{
      width:30px;
      height:30px;
      display:inline-block;
      background:$purple;
      border-radius:100rem;
      margin:0 .2rem;
    }
    &__add {
      background:transparent;
      border:1px dashed rgb(150,150,150);
      font-size:0;
      cursor:pointer;
      position:relative;

      &:after {
        content:'+';
        font-size:15px;
        color:rgb(150,150,150);

      }
    }
  }

  &-tasks {
    display:flex;
    width:100%;
    //only display one row, dont wrap
    flex-wrap:nowrap;
    margin-top:2rem;
    //min width for elements
    flex: 0 0 2em;
    min-width: 100%;
  }
  //gap between task child
    &-tasks__task {
        margin-right:1rem;
    }
  &-column {

    min-width: 300px;
    margin-left: 1rem;
    &-heading {
      margin-bottom:1rem;
      @include display;
      justify-content:space-between;
      &__title {
        font-size:20px;

      }
      &__options {
        background:transparent;
        color:$light-grey;
        font-size:18px;
        border:0;
        cursor:pointer;
      }
    }
  }
}

.task {
  padding:1rem;
  border-radius:8px;
  width:100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom:1rem;
  background: white;
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  }

  p {
    font-size:15px;
    margin:1.2rem 0;
  }
  &__tag {
    border-radius:100px;
    padding:2px 13px;
    font-size:12px;

    &--copyright {
      color:$tag-4-text;
      background-color:$tag-4;
    }
    &--design {
      color:$tag-3-text;
      background-color:$tag-3;
    }
    &--illustration {
      color:$tag-2-text;
      background-color:$tag-2;
    }

  }
  &__tags {
    width:100%;
    @include display;
    justify-content:space-between;
  }

  &__options {
    background:transparent;
    border:0;
    color:$light-grey;
    font-size:17px;
  }

  &__stats {

    position:relative;
    width:100%;
    color:$light-grey;

    font-size:12px;
    span:not(:last-of-type){
      margin-right:1rem;
    }
    svg {
      margin-right:5px;
    }
  }

  &__owner {
    width:25px;
    height:25px;
    border-radius:100rem;
    background:$purple;
    position:absolute;
    display:inline-block;
    right:0;
    bottom:0;

  }
}

.task-details {
  width:24%;
  border-left:1px solid #d9e0e9;
  display:inline-block;
  height:100%;
  vertical-align:top;
  padding:3rem 2rem;
}


  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }






@media only screen and (max-width: 1000px) {
 //snap flex //make 3 lanes fill page
    .project {
      padding: 0.1rem;

      &-column {
        min-width: 50%;
        margin-right: 1rem;
      }
    }
  //scroll snap
    .project-tasks {
      display: inline-grid;
      grid-template-columns: repeat(2, 1fr);
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-padding: 0 1rem;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      &-tasks {
        flex-wrap: nowrap;
        flex: 0 0 2em;
        min-width: 100%;
        scroll-snap-align: start;
      }
    }
}


