<main class="project"
	  *ngIf="project">
	<div class="project-info">
		<h1>{{project.name}}</h1>
		<div class="project-participants">
			<span></span>
			<span></span>
			<span></span>
			<button class="project-participants__add">Add Participant</button>
		</div>
	</div>
	<div class="project-tasks" cdkDropListGroup>
		<div class="project-column" *ngFor="let status of project!.lanes" [cdkDropListData]="status" cdkDropList (cdkDropListDropped)="drop(status, $event)">
			<div class="project-column-heading">
				<h2 class="project-column-heading__title">{{status.name}}</h2>
				<button class="project-column-heading__options">
					<fa-icon [icon]="faEllipsisH"></fa-icon>
				</button>
			</div>
			<div class="task" *ngFor="let issue of status.issues" cdkDrag>
				<div class="task__tags"><span class="task__tag task__tag--copyright">Copywriting</span>
					<button class="task__options">
						<fa-icon [icon]="faEllipsisH"></fa-icon>
					</button>
				</div>
				<p>{{issue.title}}</p>
				<div class="task__stats">
					<span><time datetime="2021-11-24T20:00:00"><fa-icon [icon]="faFlag"></fa-icon> Nov 24</time></span>
					<span><fa-icon [icon]="faComment"></fa-icon> 3</span>
					<span><fa-icon [icon]="faPaperclip"></fa-icon> 7</span>
					
				</div>
			</div>
		</div>


	</div>
</main>